.nav-link:hover{
    color:greenyellow;
    }
    h1{ color: black;
      background-color: white;}
    p{color: black;}
    @media screen and (max-width: 48rem)
    {.frist-line{
      text-align: center;
    }}
    footer{
      background-color:#2b3035;
      color: white;
      margin: 0px;
    }
    .container{
      max-width: 100%;
      margin: 0px;
    }
    
    