body{
    margin:0;
    color: #d4b996;
    font-family: "Noto Sans KR", sans-serif;
}
.footer{
    position: absolute;
    bottom:0 ;
    background-color: #392305;
    width: 100%;
}
.footer-container{
    padding: 60px
}
.first-line{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items:flex-start;
}


ul{
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
}
.sns-icon{
    width: 40px;
    height: 40px;
    background-color: #6d523b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.second-line{
    display: flex;
    justify-content: space-between;
}
.second-line-container{
    width: 75%;
}
.menus{
    margin-bottom:20px;
}
.menus li{
    margin-right:30px;
    font-weight:bold;
}
.company-info li{
    margin-right: 20px;
    font-size: 14px;
}
.company-contact li{
    margin-right: 20px;
    font-size: 14px;
}

.second-line-container-bottom{
    color: #776854;
    font-size: 13px;
    margin: 20px 0;
}
.second-line-container-bottom div{
    margin:5px 0
}
.info{
    margin-right:20px
}
.phone-number{
    font-weight: bold;
    font-size:28px ;
    margin-bottom: 10px;
}
.work-hour li{
    margin: 10px 0;
}
.work-hour span{
    margin-right:10px
}
.slogan{
    font-weight: bold;
    display: none;
    font-size: 24px;
}

@media(max-width:992px) {
    .info {
      display: none;
    }
  
    .first-line {
      display: block;
      text-align: center;
    }
  
    .sns-area {
      justify-content: center;
      margin-top: 20px;
    }
  
    .last {
      margin-right: 0;
    }
  
    .second-line-container {
      width: 100%;
    }
  
    .menus {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media(max-width:738px) {
    .menus {
      display: block;
    }
  
    .menus li {
      margin-right: 0;
      margin-top: 10px;
    }
  
    .footer {
      text-align: center;
    }
  
    .company-info {
      display: block;
    }
  
    .company-contact {
      display: none;
    }
  
    .vision {
      display: none;
    }
  
    .slogan {
      display: block;
    }
  }
  